<section id="success-screen">
  <svg
    width="91"
    height="93"
    viewBox="0 0 71 73"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M65.0834 33.7017V36.5C65.0798 43.0591 63.0141 49.4413 59.1944 54.6947C55.3747 59.9481 50.0056 63.7913 43.888 65.651C37.7704 67.5108 31.232 67.2874 25.2479 65.0144C19.2638 62.7413 14.1547 58.5402 10.6825 53.0377C7.21033 47.5353 5.56113 41.0262 5.98088 34.4813C6.40062 27.9364 8.86682 21.7063 13.0117 16.7203C17.1565 11.7342 22.7579 8.25928 28.9805 6.81377C35.203 5.36826 41.7134 6.0296 47.5405 8.69916"
      stroke="#6EAF71"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <path
      d="M65.0833 12.1667L35.5 42.6138L26.625 33.4888"
      stroke="#6EAF71"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>

  <h3>O seu e-mail foi verificado com sucesso!</h3>
  <p>Você já pode fechar esta aba e retornar ao aplicativo</p>
</section>
