* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  color: #2a2d4e;
  background-color: #fbfbfb;
}

/* header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
} */

main {
  text-align: center;
  padding: 3rem 1rem;
}

button {
  font-family: 'Inter', sans-serif;
  color: #fbfbfb;
  background-color: #e17954;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#error-screen, #loader {
  display: none;
}

#error-screen {
  font-size: 1.1rem;
  font-weight: 400;
}

.error {
  max-width: 5rem;
  width: 100%;
  margin: 2rem 0;
}

#loader {
  margin: 3rem auto;
  border: 4px solid #f4f4f4;
  border-radius: 50%;
  border-top: 4px solid #e17954;
  width: 3rem;
  height: 3rem;
  -webkit-animation: spin 600ms linear infinite;
  animation: spin 600ms linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
