<section id="recover-password-screen">
  <form id="recover-password-form">
    <label for="password-input">Password</label>
    <input
      type="password"
      name="password"
      id="password-input"
      placeholder="Password"
      required
    />
    <label for="confirm-password-input">Confirm Password</label>
    <input
      type="password"
      name="confirm-password"
      id="confirm-password-input"
      placeholder="Confirm Password"
      required
      min="8"
    />
    <button id="recover-password-button" type="submit">Recover Password</button>
  </form>
</section>
<section id="success-screen">
  <h3>Sua senha foi redefinida com sucesso</h3>
  <p>Você já pode acessar o aplicativo com a sua nova senha</p>
</section>
